<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluapp.androidview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity android:name=".ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Button.ButtonActivity" />
        <activity android:name=".Button.TextIconButtonActivity" />
        <activity android:name=".Button.StartActivityButtonActivity" />
        <activity android:name=".Button.XmlButtonClickActivity" />
        <activity android:name=".Button.DisableOnBackPressActivity" />
        <activity android:name=".Button.ChangeFabColorActivity" />
        <activity android:name=".Button.AlertDialogButtonActivity" />
        <activity android:name=".Button.ProgrammaticallyCenterButtonActivity" />
        <activity android:name=".Button.MaterialEffectButtonActivity" />
        <activity android:name=".Button.CircleButtonActivity" />
        <activity android:name=".Button.ProgrammaticallyFabActivity" />
        <activity android:name=".Button.OnBackPressTwiceExistActivity" />
        <activity android:name=".Button.LowecaseTextButtonActivity" />
        <activity android:name=".Button.DisableButtonActivity" />
        <activity android:name=".Button.CustomButtonStateActivity" />
        <activity android:name=".Button.ProgrammaticallyMarginBtnActivity" />
        <activity android:name=".Button.GetBtnTextActivity" />
        <activity android:name=".Button.DisableDoubleClickingButtonActivity" />
        <activity android:name=".Button.DynamicButtonActivity" />
        <activity android:name=".Button.SoundButtonActivity" />
        <activity android:name=".Button.ProgrammaticallyBtnTintActivity" />
        <activity
            android:name=".Button.ToolbarBtnActivity"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity android:name=".Button.BtnStyleActivity" />
        <activity android:name=".Button.RefreshBtnActivity" />
        <activity
            android:name=".Button.DisplayBackBtnActivity"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity android:name=".Button.AnimateBtnActivity" />
        <activity android:name=".Button.UpdateBtnTextActivity" />
        <activity android:name=".EditText.EditTextActivity" />
        <activity android:name=".EditText.EditTextCursorColorActivity" />
        <activity android:name=".EditText.EditTextCursorOnEndActivity" />
        <activity android:name=".EditText.LimitTextOfEditTextActivity" />
        <activity android:name=".EditText.HideEditTextUnderlineBorderActivity" />
        <activity android:name=".EditText.EditTextUnderlineBorderColorActivity" />
        <activity android:name=".EditText.EditTextUnderlineBorderActivity" />
        <activity android:name=".EditText.EditTextCapFirstLetterActivity" />
        <activity android:name=".EditText.TextColorOfEditTextActivity" />
        <activity android:name=".EditText.EditTextBackgroundColorActivity" />
        <activity android:name=".EditText.EditTextSingleLineActivity" />
        <activity android:name=".EditText.EditTextHintActivity" />
        <activity android:name=".EditText.EditTextHintColorActivity" />
        <activity android:name=".EditText.EditTextSetFocusActivity" />
        <activity android:name=".EditText.EditTextDatePickerActivity" />
        <activity android:name=".EditText.ProgrammaticallyInputTypeActivity" />
        <activity android:name=".EditText.MultiLineEditTextActivity" />
        <activity android:name=".EditText.ProgrammaticallyDisableEditTextActivity" />
        <activity android:name=".EditText.EditTextGetInputValueActivity" />
        <activity android:name=".EditText.EditTextProgrammaticallyActivity" />
        <activity android:name=".EditText.ValidateEditTextActivity" />
        <activity android:name=".EditText.CopyEditTextActivity" />
        <activity android:name=".EditText.ClearEditTextActivity" />
        <activity android:name=".EditText.AlertDialogEditTextActivity" />
        <activity android:name=".EditText.RoundedCornerEditTextActivity" />
        <activity android:name=".EditText.ShadowEditTextActivity" />
        <activity android:name=".EditText.DisableEditTextActivity" />
        <activity android:name=".EditText.DisableSuggestionEditTextActivity" />
        <activity android:name=".EditText.OnClickEditTextActivity" />
        <activity android:name=".EditText.TextWatcherEditTextActivity" />
        <activity android:name=".EditText.OnFocusChangeListnerEditTextActivity" />
        <activity android:name=".EditText.OnEditorActionListnerEditTextActivity" />
        <activity android:name=".EditText.DisableEditTextCursorActivity" />
        <activity android:name=".EditText.EmptyEditTextCheckActivity" />
        <activity android:name=".EditText.EditTextWithIconActivity" />
        <activity android:name=".EditText.EditTextDrawableClickActivity" />
        <activity android:name=".EditText.NumericEditTextActivity" />
        <activity android:name=".EditText.GetEditTextIntActivity" />
        <activity android:name=".EditText.FloatingLabelColorActivity" />
        <activity android:name=".EditText.DisableAnimateActivity" />
        <activity android:name=".EditText.LeftIconActivity" />
        <activity android:name=".EditText.ProgrammaticallyAccentActivity" />
        <activity android:name=".EditText.AlignTextInputLayoutErrorActivity" />
        <activity android:name=".EditText.AsteriskRedTextInputLayoutActivity" />
        <activity android:name=".RecyclerView.RecyclerViewActivity1" />
        <activity android:name=".RecyclerView.RecyclerViewActivity2" />
        <activity android:name=".RecyclerView.RecyclerViewActivity3" />
        <activity android:name=".RecyclerView.RecyclerViewActivity4" />
        <activity android:name=".RecyclerView.RecyclerViewActivity5" />
        <activity android:name=".RecyclerView.RecyclerViewActivity6" />
        <activity android:name=".RecyclerView.RecyclerViewActivity7" />
        <activity android:name=".RecyclerView.RecyclerViewActivity8" />
        <activity android:name=".RecyclerView.RecyclerViewActivity9" />
        <activity android:name=".RecyclerView.RecyclerViewActivity10" />
        <activity android:name=".RecyclerView.RecyclerViewActivity11" />
        <activity android:name=".RecyclerView.RecyclerViewActivity12" />
        <activity android:name=".RecyclerView.RecyclerViewActivity13" />
        <activity android:name=".RecyclerView.RecyclerViewActivity14" />
        <activity android:name=".RecyclerView.RecyclerViewActivity15" />
        <activity android:name=".RecyclerView.RecyclerViewActivity16" />
        <activity android:name=".RecyclerView.RecyclerViewActivity17" />
        <activity android:name=".RecyclerView.RecyclerViewActivity18" />
        <activity android:name=".RecyclerView.RecyclerViewActivity19" />
        <activity android:name=".RecyclerView.RecyclerViewActivity20" />
        <activity android:name=".WebView.WebViewActivity1" />
        <activity android:name=".WebView.WebViewActivity2" />
        <activity android:name=".WebView.WebViewActivity3" />
        <activity android:name=".WebView.WebViewActivity4" />
        <activity android:name=".WebView.WebViewActivity5" />
        <activity android:name=".WebView.WebViewActivity6" />
        <activity android:name=".WebView.WebViewActivity7" />
        <activity android:name=".WebView.WebViewActivity8" />
        <activity android:name=".WebView.WebViewActivity9" />
        <activity android:name=".WebView.WebViewActivity10" />
        <activity android:name=".WebView.WebViewActivity11" />
        <activity android:name=".WebView.WebViewActivity12" />
        <activity android:name=".WebView.WebViewActivity13" />
        <activity android:name=".WebView.WebViewActivity14" />
        <activity android:name=".WebView.WebViewActivity15" />
        <activity android:name=".WebView.WebViewActivity16" />
        <activity android:name=".WebView.WebViewActivity17" />
        <activity android:name=".WebView.WebViewActivity18" />
        <activity
            android:name=".WebView.WebViewActivity19"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".WebView.WebViewActivity20" />
        <activity android:name=".WebView.WebViewActivity21" />
        <activity android:name=".WebView.WebViewActivity22" />
        <activity android:name=".WebView.WebViewActivity23" />
        <activity android:name=".WebView.WebViewActivity24" />
        <activity android:name=".SearchView.SearchViewActivity1" />
        <activity android:name=".SearchView.SearchViewActivity2" />
        <activity android:name=".SearchView.SearchViewActivity3" />
        <activity android:name=".SearchView.SearchViewActivity4" />
        <activity android:name=".SearchView.SearchViewActivity5" />
        <activity android:name=".SearchView.SearchViewActivity6" />
        <activity android:name=".SearchView.SearchViewActivity7" />
        <activity android:name=".SearchView.SearchViewActivity8" />
        <activity android:name=".SearchView.SearchViewActivity9" />
        <activity android:name=".SearchView.SearchViewActivity10" />
        <activity android:name=".SearchView.SearchViewActivity11" />
        <activity android:name=".SearchView.SearchViewActivity12" />
        <activity android:name=".SearchView.SearchViewActivity13" />
        <activity android:name=".SearchView.SearchViewActivity14" />
        <activity android:name=".SearchView.SearchViewActivity15" />
        <activity android:name=".SearchView.SearchViewActivity16" />
        <activity android:name=".SearchView.SearchViewActivity17" />
        <activity android:name=".SearchView.SearchViewActivity18" />
        <activity
            android:name=".SearchView.SearchViewActivity19"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity android:name=".Fragment.FragmentActivity1" />
        <activity android:name=".Fragment.FragmentActivity2" />
        <activity android:name=".Fragment.FragmentActivity3" />
        <activity android:name=".Fragment.FragmentActivity4" />
        <activity android:name=".Fragment.FragmentActivity5" />
        <activity android:name=".Fragment.FragmentActivity6" />
        <activity android:name=".Fragment.FragmentActivity7" />
        <activity android:name=".Fragment.FragmentActivity8" />
        <activity android:name=".Fragment.FragmentActivity9" />
        <activity android:name=".Fragment.FragmentActivity10" />
        <activity android:name=".Fragment.FragmentActivity11" />
        <activity android:name=".Fragment.FragmentActivity12" />
        <activity android:name=".Fragment.FragmentActivity13" />
        <activity android:name=".Fragment.FragmentActivity14" />
        <activity android:name=".Fragment.FragmentActivity15" />
        <activity android:name=".Fragment.FragmentActivity16" />
        <activity android:name=".Fragment.FragmentActivity17" />
        <activity android:name=".Fragment.FragmentActivity18" />
        <activity android:name=".Fragment.FragmentActivity19" />
        <activity android:name=".Fragment.FragmentActivity20" />
        <activity
            android:name=".NavigationView.NavigationViewActivity1"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity2"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity3"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity4"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity5"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity6"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity7"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity8"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity9"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity10"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity11"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity
            android:name=".NavigationView.NavigationViewActivity12"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity android:name=".NavigationView.NavigationViewActivity13" />
        <activity android:name=".NavigationView.NavigationViewActivity14" />
        <activity android:name=".NavigationView.NavigationViewActivity15" />
        <activity android:name=".NavigationView.NavigationViewActivity16" />
        <activity android:name=".NavigationView.NavigationViewActivity17" />
        <activity android:name=".NavigationView.NavigationViewActivity18" />
        <activity android:name=".NavigationView.NavigationViewActivity19" />
        <activity android:name=".NavigationView.NavigationViewActivity20" />
        <activity android:name=".NavigationView.NavigationViewActivity21" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity1" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity2" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity3" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity4" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity5" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity6" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity7" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity8" />
        <activity android:name=".TabLayoutAndViewPager.TabHostActivity" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity9" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity10" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity11" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity12" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity13" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity14" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity15" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity16" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity17" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity18" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity19" />
        <activity android:name=".TabLayoutAndViewPager.TabLayoutAndViewPagerActivity20" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity1" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity2" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity3" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity4" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity5" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity6" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity7" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity8" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity9" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity10" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity11" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity12" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity13" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity14" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity15" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity16" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity17" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity18" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity19" />
        <activity android:name=".DatePickerAndTimePickerActivity.DatePickerAndTimePickerActivity20" />
        <activity android:name=".VideoView.VideoViewActivity1" />
        <activity android:name=".VideoView.VideoViewActivity2" />
        <activity android:name=".VideoView.VideoViewActivity3" />
        <activity android:name=".VideoView.VideoViewActivity4" />
        <activity android:name=".VideoView.VideoViewActivity5" />
        <activity android:name=".VideoView.VideoViewActivity6" />
        <activity
            android:name=".VideoView.VideoViewActivity7"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".VideoView.VideoViewActivity8" />
        <activity android:name=".VideoView.VideoViewActivity9" />
        <activity android:name=".VideoView.VideoViewActivity10" />
        <activity android:name=".VideoView.VideoViewActivity11" />
        <activity android:name=".VideoView.VideoViewActivity12" />
        <activity android:name=".VideoView.VideoViewActivity13" />
        <activity android:name=".VideoView.VideoViewActivity14" />
        <activity android:name=".VideoView.VideoViewActivity15" />
        <activity android:name=".VideoView.VideoViewActivity16" />
        <activity android:name=".VideoView.VideoViewActivity17" />
        <activity android:name=".VideoView.VideoViewActivity18" />
        <activity android:name=".VideoView.VideoViewActivity19" />
        <activity android:name=".VideoView.VideoViewActivity20" />
        <activity android:name=".Menu.MenuActivity1" />
        <activity android:name=".Menu.MenuActivity2" />
        <activity android:name=".Menu.MenuActivity3" />
        <activity android:name=".Menu.MenuActivity4" />
        <activity android:name=".Menu.MenuActivity5" />
        <activity
            android:name=".Menu.MenuActivity6"
            android:theme="@style/MenuActivity6Theme" />
        <activity
            android:name=".Menu.MenuActivity7"
            android:theme="@style/MenuActivity7Theme" />
        <activity android:name=".Menu.MenuActivity8" />
        <activity android:name=".Menu.MenuActivity9" />
        <activity android:name=".Menu.MenuActivity10" />
        <activity android:name=".Menu.MenuActivity11" />
        <activity android:name=".Menu.MenuActivity12" />
        <activity android:name=".Menu.MenuActivity13" />
        <activity android:name=".Menu.MenuActivity14" />
        <activity android:name=".Menu.MenuActivity15" />
        <activity android:name=".Menu.MenuActivity16" />
        <activity android:name=".Menu.MenuActivity17" />
        <activity android:name=".Menu.MenuActivity18" />
        <activity android:name=".Menu.MenuActivity19" />
        <activity android:name=".Menu.MenuActivity20" />
        <activity android:name=".Retrofit.RetrofitActivity1" />
        <activity android:name=".Retrofit.RetrofitActivity2" />
        <activity android:name=".Retrofit.RetrofitActivity3" />
        <activity android:name=".Retrofit.RetrofitActivity4" />
        <activity android:name=".Retrofit.RetrofitActivity5" />
        <activity android:name=".Retrofit.RetrofitActivity6" />
        <activity android:name=".Retrofit.RetrofitActivity7" />
        <activity android:name=".Retrofit.RetrofitActivity8" />
        <activity android:name=".Retrofit.RetrofitActivity9" />
        <activity android:name=".Retrofit.RetrofitActivity10" />
        <activity android:name=".Retrofit.RetrofitActivity11" />
        <activity android:name=".Retrofit.RetrofitActivity12" />
        <activity android:name=".Retrofit.RetrofitActivity13" />
        <activity android:name=".Retrofit.RetrofitActivity14" />
        <activity android:name=".Retrofit.RetrofitActivity15" />
        <activity android:name=".Retrofit.RetrofitActivity16" />
        <activity android:name=".Retrofit.RetrofitActivity17" />
        <activity android:name=".Retrofit.RetrofitActivity18" />
        <activity android:name=".Retrofit.RetrofitActivity19" />
        <activity android:name=".Retrofit.RetrofitActivity20"></activity>
    </application>

</manifest>