<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluapp.androidview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity android:name=".ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Button.ButtonActivity" />
        <activity android:name=".Button.TextIconButtonActivity" />
        <activity android:name=".Button.StartActivityButtonActivity" />
        <activity android:name=".Button.XmlButtonClickActivity" />
        <activity android:name=".Button.DisableOnBackPressActivity" />
        <activity android:name=".Button.ChangeFabColorActivity" />
        <activity android:name=".Button.AlertDialogButtonActivity" />
        <activity android:name=".Button.ProgrammaticallyCenterButtonActivity" />
        <activity android:name=".Button.MaterialEffectButtonActivity" />
        <activity android:name=".Button.CircleButtonActivity" />
        <activity android:name=".Button.ProgrammaticallyFabActivity" />
        <activity android:name=".Button.OnBackPressTwiceExistActivity" />
        <activity android:name=".Button.LowecaseTextButtonActivity" />
        <activity android:name=".Button.DisableButtonActivity" />
        <activity android:name=".Button.CustomButtonStateActivity" />
        <activity android:name=".Button.ProgrammaticallyMarginBtnActivity" />
        <activity android:name=".Button.GetBtnTextActivity" />
        <activity android:name=".Button.DisableDoubleClickingButtonActivity" />
        <activity android:name=".Button.DynamicButtonActivity" />
        <activity android:name=".Button.SoundButtonActivity" />
        <activity android:name=".Button.ProgrammaticallyBtnTintActivity" />
        <activity
            android:name=".Button.ToolbarBtnActivity"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity android:name=".Button.BtnStyleActivity" />
        <activity android:name=".Button.RefreshBtnActivity" />
        <activity
            android:name=".Button.DisplayBackBtnActivity"
            android:theme="@style/ToolBarTheme.NoActionBar" />
        <activity android:name=".Button.AnimateBtnActivity" />
        <activity android:name=".Button.UpdateBtnTextActivity" />
        <activity android:name=".EditText.EditTextActivity" />
        <activity android:name=".EditText.EditTextCursorColorActivity" />
        <activity android:name=".EditText.EditTextCursorOnEndActivity" />
        <activity android:name=".EditText.LimitTextOfEditTextActivity" />
        <activity android:name=".EditText.HideEditTextUnderlineBorderActivity" />
        <activity android:name=".EditText.EditTextUnderlineBorderColorActivity" />
        <activity android:name=".EditText.EditTextUnderlineBorderActivity" />
        <activity android:name=".EditText.EditTextCapFirstLetterActivity" />
        <activity android:name=".EditText.TextColorOfEditTextActivity" />
        <activity android:name=".EditText.EditTextBackgroundColorActivity" />
        <activity android:name=".EditText.EditTextSingleLineActivity" />
        <activity android:name=".EditText.EditTextHintActivity" />
        <activity android:name=".EditText.EditTextHintColorActivity" />
        <activity android:name=".EditText.EditTextSetFocusActivity" />
        <activity android:name=".EditText.EditTextDatePickerActivity" />
        <activity android:name=".EditText.ProgrammaticallyInputTypeActivity" />
        <activity android:name=".EditText.MultiLineEditTextActivity" />
        <activity android:name=".EditText.ProgrammaticallyDisableEditTextActivity" />
        <activity android:name=".EditText.EditTextGetInputValueActivity" />
        <activity android:name=".EditText.EditTextProgrammaticallyActivity" />
        <activity android:name=".EditText.ValidateEditTextActivity" />
        <activity android:name=".EditText.CopyEditTextActivity" />
        <activity android:name=".EditText.ClearEditTextActivity" />
        <activity android:name=".EditText.AlertDialogEditTextActivity" />
        <activity android:name=".EditText.RoundedCornerEditTextActivity" />
        <activity android:name=".EditText.ShadowEditTextActivity" />
        <activity android:name=".EditText.DisableEditTextActivity" />
        <activity android:name=".EditText.DisableSuggestionEditTextActivity" />
        <activity android:name=".EditText.OnClickEditTextActivity" />
        <activity android:name=".EditText.TextWatcherEditTextActivity" />
        <activity android:name=".EditText.OnFocusChangeListnerEditTextActivity" />
        <activity android:name=".EditText.OnEditorActionListnerEditTextActivity" />
        <activity android:name=".EditText.DisableEditTextCursorActivity" />
        <activity android:name=".EditText.EmptyEditTextCheckActivity" />
        <activity android:name=".EditText.EditTextWithIconActivity" />
        <activity android:name=".EditText.EditTextDrawableClickActivity" />
        <activity android:name=".EditText.NumericEditTextActivity" />
        <activity android:name=".EditText.GetEditTextIntActivity" />
        <activity android:name=".EditText.FloatingLabelColorActivity" />
        <activity android:name=".EditText.DisableAnimateActivity" />
        <activity android:name=".EditText.LeftIconActivity" />
        <activity android:name=".EditText.ProgrammaticallyAccentActivity" />
        <activity android:name=".EditText.AlignTextInputLayoutErrorActivity" />
        <activity android:name=".EditText.AsteriskRedTextInputLayoutActivity" />
        <activity android:name=".RecyclerView.RecyclerViewActivity1" />
        <activity android:name=".RecyclerView.RecyclerViewActivity2" />
        <activity android:name=".RecyclerView.RecyclerViewActivity3" />
        <activity android:name=".RecyclerView.RecyclerViewActivity4" />
        <activity android:name=".RecyclerView.RecyclerViewActivity5" />
        <activity android:name=".RecyclerView.RecyclerViewActivity6" />
        <activity android:name=".RecyclerView.RecyclerViewActivity7" />
        <activity android:name=".RecyclerView.RecyclerViewActivity8" />
        <activity android:name=".RecyclerView.RecyclerViewActivity9" />
        <activity android:name=".RecyclerView.RecyclerViewActivity10" />
        <activity android:name=".RecyclerView.RecyclerViewActivity11" />
        <activity android:name=".RecyclerView.RecyclerViewActivity12" />
        <activity android:name=".RecyclerView.RecyclerViewActivity13" />
        <activity android:name=".RecyclerView.RecyclerViewActivity14" />
        <activity android:name=".RecyclerView.RecyclerViewActivity15" />
        <activity android:name=".RecyclerView.RecyclerViewActivity16" />
        <activity android:name=".RecyclerView.RecyclerViewActivity17" />
        <activity android:name=".RecyclerView.RecyclerViewActivity18" />
        <activity android:name=".RecyclerView.RecyclerViewActivity19" />
        <activity android:name=".RecyclerView.RecyclerViewActivity20" />
        <activity android:name=".WebView.WebViewActivity1" />
        <activity android:name=".WebView.WebViewActivity2" />
        <activity android:name=".WebView.WebViewActivity3" />
        <activity android:name=".WebView.WebViewActivity4" />
        <activity android:name=".WebView.WebViewActivity5" />
        <activity android:name=".WebView.WebViewActivity6" />
        <activity android:name=".WebView.WebViewActivity7" />
        <activity android:name=".WebView.WebViewActivity8" />
        <activity android:name=".WebView.WebViewActivity9" />
        <activity android:name=".WebView.WebViewActivity10" />
        <activity android:name=".WebView.WebViewActivity11" />
        <activity android:name=".WebView.WebViewActivity12" />
        <activity android:name=".WebView.WebViewActivity13" />
        <activity android:name=".WebView.WebViewActivity14" />
        <activity android:name=".WebView.WebViewActivity15" />
        <activity android:name=".WebView.WebViewActivity16" />
        <activity android:name=".WebView.WebViewActivity17" />
        <activity android:name=".WebView.WebViewActivity18" />
        <activity
            android:name=".WebView.WebViewActivity19"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".WebView.WebViewActivity20" />
        <activity android:name=".WebView.WebViewActivity21" />
        <activity android:name=".WebView.WebViewActivity22" />
        <activity android:name=".WebView.WebViewActivity23" />
        <activity android:name=".WebView.WebViewActivity24"></activity>
    </application>

</manifest>